.item {
    margin: 10px;
    background-color: white;
    width: 250px;
    height: 450px;
    border: 1px solid #eee;
}
.row {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
    padding-right: 10px;
    clear: both;
}
.col-2 {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    width: 100%; 
}


.image-sale {
    width: 50px;
    display: block;
    margin: 5px;
}
.main-foto-div {
    height: 170px;
}
.main-foto {
    width: 240px;
    max-height: 170px;
}
.item-title {
    text-align: left;
    font-weight:500;
    padding-left: 10px;
}
.item-stars-img {
    height: 20px;
}

.price-new, .price-old {
    display: block;
}
.price-old {
    text-decoration:line-through;
    font-size: 16px;
    color: gray;
    margin: 5px;
}
.price-new {
    font-size: 24px;
    color: red;
    margin: 5px;
}
.item-cart {
    width: 70px;
    text-align: center;
}
.item-cart-img {
    width: 55px;
}
.item-avialible{
    color: green;
    font-size: 12px;
}